# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/be-microservices/microservices/test/node_modules/.package-lock.json
/be-microservices/microservices/test/package-lock.json
/be-microservices/microservices/apps/admin-svc/node_modules
/be-microservices/microservices/apps/admin-svc/package-lock.json
/be-microservices/microservices/apps/admin-svc/dist
/be-microservices/microservices/apps/admin-svc/test


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# kafka
/be-microservices/microservices/docker/kafka/data/
